
<div class="admin-container">
  <header class="admin-header">
    <nav>
      <ul class="nav-horizontal">
        <li><a routerLink="/administrador/productos" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/administrador/pedidos" routerLinkActive="active">Pedidos</a></li>
        <li><a routerLink="/administrador/descuentos" routerLinkActive="active">Descuentos</a></li>
        <li><a routerLink="/administrador/carrusel" routerLinkActive="active">Carrusel</a></li>
      </ul>
    </nav>
  </header>
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>